html {
height: 100%;

background-image: url("houses.png");
background-position: bottom;
background-repeat: no-repeat;
background-size: contain;
}

.container {
    margin: 10% 0 20% 0;
    padding: 1.5rem;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
}

.title {
    margin: 1.5rem;
    color: #006AFF;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.subtitle {
    margin: 2rem;
    line-break: strict;
    line-height: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}


#generate-btn {
    height:75px;
    width:200px;
    border-radius: 360px;
    border-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 1.2rem;
    transition-duration: .5s;
    cursor: pointer;
}

#generate-btn:hover {
    background-color: #006AFF;
    color: white;
}

#generate-btn:clicked {
    
}

#result {
    display: none;
    justify-content: center;
}

.inner-text {
    justify-content: center;
}

.city, .budget {
    margin: .8rem;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#city-result {
    margin: 3rem;
}

.footer {
    position: absolute;
    bottom: 0;
    height: 1.5rem;
    margin: 1rem;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    color: #fff;
}

@media screen and (max-width: 500px)  {
  .logo {
    width: 200px;
  }
  .title {
    font-size: 2.5rem;
    margin: 1rem;
  }
  .subtitle {
    font-size: 1rem;
  }
  .city, .budget {
    font-size: 1.5rem;
  }
}